
<div class="container-fluid p-5">
<div class="form-row ">
<div class="col-sm-4 ">
<div class="form-group">
<label>Name</label>
<input type="text" class="form-control " name="name" [(ngModel)]="d.name" />
</div>
</div>
<div class="col-sm-8 ">
<div class="form-group">
<label>Age</label>
<input type="text" class="form-control " name="age" [(ngModel)]="d.age" />
</div>
<div class="xxx">
<p>Some random text<p>
</div>
</div>
</div>
<div class="form-row ">
<div class="col-sm ">
<table class="table table-sm table-hover">
<thead class="thead-dark">
<tr>
<th>Name</th>
<th>Age</th>
<th>Height</th>
<th>Sex</th>
</tr>
</thead>
<tbody *ngIf="d.tasks != null">
<tr *ngFor="let task of d.tasks; let idx = index;" (click)="taskRowClick(idx)">
<td>{{task.name}}</td>
<td>{{task.age}}</td>
<td>{{task.height}}</td>
<td>{{task.sex}}</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
