
<div class="container-fluid p-5">
<div class="row ">
<div class="col-sm ">
<div class="">
<h1>Sample Application</h1>
</div>
</div>
</div>
<div class="row ">
<div class="col-sm-8 ">
<div class="form-group">
<label>Name</label>
<input type="text" name="name" [(ngModel)]="name" class="form-control "/>
</div>
</div>
<div class="col-sm-4 ">
<div class="form-group">
<label>Status of Work</label>
<select class="form-control" [(ngModel)]="status" name="status">
<option *ngFor="let opt of statuses" [ngValue]="opt">{{opt}}</option>
</select>
</div>
</div>
</div>
<div class="row ">
<div class="col-sm ">
<button class="btn btn-primary mr-1" (click)="onOK()">OK</button>
<button class="btn btn-primary" (click)="onCancel()">Cancel</button>
</div>
</div>
</div>
